<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        {foreach name="apps" item="v"}
                        <a href="{$v.url}" target="_blank" class="btn btn-info" referrer="origin"><i class="fa fa-chrome"></i> {$v.name}</a>
                        {/foreach}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

