<style type="text/css">
    .sm-st {
        background: #fff;
        padding: 20px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 20px;
        -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
    }

    .sm-st-icon {
        width: 60px;
        height: 60px;
        display: inline-block;
        line-height: 60px;
        text-align: center;
        font-size: 30px;
        background: #eee;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        float: left;
        margin-right: 10px;
        color: #fff;
    }

    .sm-st-info {
        font-size: 12px;
        padding-top: 2px;
    }

    .sm-st-info span {
        display: block;
        font-size: 24px;
        font-weight: 600;
    }
    .st-red {
        background-color: #F05050;
    }

    .st-green {
        background-color: #27C24C;
    }

    .st-violet {
        background-color: #7266ba;
    }

    .st-blue {
        background-color: #23b7e5;
    }
    .badge {
        position: relative;
        display: inline-block;
        padding: 0.25em 0.5em;
        background-color: #337ab7;
        color: #fff;
        border-radius: 10px;
    }

</style>
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading(null, false)}
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <div class="sm-st clearfix">
                <span class="sm-st-icon st-green"><i class="fa fa-align-justify"></i></span>
                <div class="sm-st-info">
                    消息通知
                    <div class="badge">1</div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="sm-st clearfix">
                <span class="sm-st-icon st-violet"><i class="fa fa-book"></i></span>
                <div class="sm-st-info">
                    总资产数
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="sm-st clearfix">
                <span class="sm-st-icon st-red"><i class="fa fa-jpy"></i></span>

<!--                <div class="sm-st-info">-->
<!--                    <div class="badge">1</div>-->
<!--                </div>-->
            </div>
        </div>
    </div>



    <script src="/assets/js/index/jquery.min.js"></script>
    <script src="/assets/js/backend/highcharts.js"></script>
    <script src="/assets/js/backend/data.js"></script>

    <div id="container" style="width: 95%; height: 450px; margin: 0 auto"></div>
    <script language="JavaScript">
        $(document).ready(function() {
            var data = {
                table: 'datatable'
            };
            var chart = {
                type: 'column'
            };
            var title = {
                text: '各分类资产柱状图'
            };
            var yAxis = {
                allowDecimals: false,
                title: {
                    text: 'Units'
                }
            };
            var tooltip = {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                    this.point.name.toLowerCase() + '：' + this.point.y;
                }
            };
            var credits = {
                enabled: false
            };

            var json = {};
            json.chart = chart;
            json.title = title;
            json.data = data;
            json.yAxis = yAxis;
            json.credits = credits;
            json.tooltip = tooltip;
            $('#container').highcharts(json);
        });

    </script>
    <table id="datatable" style="display:none">
        <thead>
            <tr><th></th><th>分类名：数量</th></tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>
