<link rel="stylesheet" href="/assets/css/step.css">
<script src="/assets/js/index/jquery.min.js"></script>
<style type="text/css">
    .form-horizontal {
        margin-top: 15px;
        background-color: #ffffff;
    }
    .title {
        background-color: #D8E0E6;
        font-weight: bold;
    }
    .title1,.img-list {
        margin-top: 20px;
    }
    .area-tab {
        margin-left: 10px;
        margin-right: 10px;
        font-weight: bold;
    }
    .img-list img {
        height: 200px;
    }
</style>
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading(null, false)}
        <ul class="nav nav-tabs">
            {foreach $tabList as $index=>$vo}
            <li class="{$vo.name == '其他资料'?'active':''}"><a href="{$vo.url}">{:__($vo.name)}</a></li>
            {/foreach}
        </ul>
    </div>
</div>
<!--<h3>暂无其他资料</h3>-->
<form id="other -form" class="form-horizontal" data-toggle="validator" role="form" method="POST" action="">
    <div class="title">其他资料</div>
    <div class="area-tab tab-1">
<!--        <div class="form-group">-->
<!--            <div class="col-md-6">-->
<!--                <label class="control-label col-sm-2">{:__('工作经验')}:</label>-->
<!--                <div class="col-sm-10">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-6">-->
<!--                <label class="control-label col-sm-2">{:__('个人兴趣及爱好')}:</label>-->
<!--                <div class="col-sm-10">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div>工衣资料</div>-->
<!--        <div class="form-group">-->
<!--            <div class="col-md-3">-->
<!--                <label class="control-label col-sm-4">{:__('工衣')}:</label>-->
<!--                <div class="col-sm-8">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3">-->
<!--                <label class="control-label col-sm-4">{:__('工帽')}:</label>-->
<!--                <div class="col-sm-8">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3">-->
<!--                <label class="control-label col-sm-4">{:__('工鞋')}:</label>-->
<!--                <div class="col-sm-8">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div>公司直属亲属</div>-->
<!--        <div class="form-group">-->
<!--            <div class="col-md-3">-->
<!--                <label class="control-label col-sm-4">{:__('工号')}:</label>-->
<!--                <div class="col-sm-8">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3">-->
<!--                <label class="control-label col-sm-4">{:__('姓名')}:</label>-->
<!--                <div class="col-sm-8">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3">-->
<!--                <label class="control-label col-sm-4">{:__('关系')}:</label>-->
<!--                <div class="col-sm-8">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3">-->
<!--                <label class="control-label col-sm-4">{:__('电话')}:</label>-->
<!--                <div class="col-sm-8">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="title1">消费权限</div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="checkbox cs-list">
                    {foreach name="cs_level_list" item="vo"}
                    <label for="row[cs_level][]-{$key}"><input id="row[cs_level][]-{$key}" name="row[cs_level][]" type="checkbox" value="{$key}" {in name="key" value="$empInfo['cs_level']" }checked{/in} /> {$vo}</label>
                    {/foreach}
                </div>
            </div>
        </div>
        <div class="title1">门禁权限</div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="checkbox kq-list">
                    {foreach name="kq_level_list" item="vo"}
                    <label for="row[kq_level][]-{$key}"><input id="row[kq_level][]-{$key}" name="row[kq_level][]" type="checkbox" value="{$key}" {in name="key" value="$empInfo['kq_level']" }checked{/in} /> {$vo}</label>
                    {/foreach}
                </div>
            </div>
        </div>

        <div class="title1">员工照片</div>
        <div class="form-group">
            <div class="col-md-12 img-list">
                {foreach name="empInfo.images" item="vo"}
                <img class="img-src" src="{$vo}">
                {/foreach}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>


<script type="text/javascript">
    $(function () {

    })

</script>